.background {
  viewport-fill: black;
}

#timeLabel {
  font-size: 100;
  font-family: System-Light;
  text-length: 32;
  text-anchor: middle;
  letter-spacing: 10;
  x: 50%;
  y: 50%+30;
  fill: white;
}
